<?xml version="1.0" encoding="ISO-8859-1" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

<h:body>
	<ui:composition>
		<div class="cabecalho">
			<h:graphicImage id="logo" style="max-width: 15%;"
				url="resources/images/logo.jpg"></h:graphicImage>

			<h:outputText style="font-size:25pt;"
				value="#{almoxarifeBean.usuario.almoxarifadoResponsavel.campus.nome}" />

			<div class="menu-container"
				style="margin-bottom: 0; position: sticky; height: 15%; padding: 1%;">
				<h:form>
					<p:menubar model="#{almoxarifeBean.menuCabecalho}"/>
					<!-- <p:tabMenu activeIndex="#{param.i}">
						<p:menuitem value="Sei la" outcome="index"
							icon="ui-icon-star">
							<f:param name="i" value="0" />
						</p:menuitem>
						<p:menuitem value="Sei la"  outcome="index"
							icon="ui-icon-search">
							<f:param name="i" value="1" />
						</p:menuitem>
						<p:menuitem value="Nao sei tb"  outcome="index"
							icon="ui-icon-document">
							<f:param name="i" value="2" />
						</p:menuitem>
					</p:tabMenu> -->
				</h:form>
			</div>

		</div>
	</ui:composition>
</h:body>
</html>