<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

<h:head>
</h:head>
<h:body>

		<h:outputText style="font-size:50px;" value="OIEEEEEEE :3 ^^' xD :) wefgfd"/>
	 <p:growl id="growl" sticky="true" showDetail="true" life="3000" />

	<h:form>
		<h:panelGrid columns="2" cellpadding="5">
            <h:outputLabel for="username" value="Username:" />
            <p:inputText id="username" value="#{almoxarifeBean.login}" required="true" label="Login" />
 
            <h:outputLabel for="password" value="Password:" />
            <p:password id="password" value="#{almoxarifeBean.senha}" required="true" label="Senha" />
 
            <f:facet name="footer">
                <p:commandButton value="Login" update="growl" action="#{almoxarifeBean.logar}"
                                 oncomplete="handleLoginRequest(xhr, status, args)" />
            </f:facet>  
        </h:panelGrid>
		
	</h:form>

	<script>
		
	</script>
</h:body>

</html>