<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

<h:head>
</h:head>
<h:body>

	<ui:insert>
		<ui:include src="/templates/cabecalho.xhtml" />
	</ui:insert>


	<h:form id="pedidoForm">
		<p:outputLabel for="campuscombo"
			value="Campus para encaminhar pedido: " />
		<p:selectOneMenu id="campuscombo" value="#{pedidoBean.campusSelecionado}"
			style="width:150px">
			<p:ajax listener="#{pedidoBean.onCampusChange}" update="picklist" />
			<f:selectItem itemLabel="Campus destinatário"
				itemValue="pedidoBean.campusSelecionado" noSelectionOption="true" />
			<f:selectItems value="#{pedidoBean.campus}" />
		</p:selectOneMenu>
		<p:growl id="msg" severity="info" showDetail="true"
			style="background: rgb(0, 200, 10);" escape="false" />

		<p:pickList style="width:auto;" value="#{pedidoBean.itens}" var="item"
			itemLabel="#{item.nome} (#{item.descricao})" itemValue="#{item}"
			converter="itemConverter" id="picklist" />
		<p:commandButton value="Confirmar itens" update="tabela"
			oncomplete="PF('painel').show();" />

		<p:dialog header="Itens selecionados" id="dialog" widgetVar="painel"
			modal="true" width="80%" closeOnEscape="true">

			<p:dataTable value="#{pedidoBean.itens.target}" var="item"
				scrollable="true" id="tabela">
				<p:column headerText="Nome">
					<h:outputText value="#{item.nome}" />
				</p:column>
				<p:column headerText="Descrição">
					<h:outputText value="#{item.descricao}" />
				</p:column>
				<p:column headerText="Quantidade disponível">
					<h:outputText value="#{item.quantidade}" id="qtddisp"/>
				</p:column>
				<p:column headerText="Quantidade desejada">
					<p:spinner value="#{item.quantidade}" max="#{item.quantidade}" min="1" />
				</p:column>

			</p:dataTable>

			<p:commandButton style="margin-top : 10px;" value="Enviar pedido"
				id="enviarPedidoButton" update="msg" icon="ui-icon-check"
				action="#{pedidoBean.concluirPedido}"
				oncomplete="PF('painel').hide();" />

		</p:dialog>
	</h:form>

	<script>
		
	</script>
</h:body>

</html>